* {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
}


.post {
    background: #fff;
    text-align: center;
    height: max-content;
    width: 647px;
    z-index: 999;
    border-radius: 15px;
    border-style: solid;
    border-color: #ddd;
    margin: auto;
    box-shadow: 1px 2px 4px #ddd;
}

#p_pic {
    width: 50px;
    height: 50px;
    display: flex;
    margin: 15px 35px;
    border-radius: 100%;
}

#profile_name {
    background-color: #9747FF;
    width: max-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: larger;
    display: flex;
    cursor: pointer;
    margin-left: 100px;
    margin-top: -50px;
}

#exercise {
    background-color: #9747FF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100px;
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
    word-spacing: 10px;
}

#sets_reps {
    background-color: #9747FF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    margin-left: 460px;
    margin-top: -22px;
    word-spacing: 50px;
}

.exercise_name {
    display: flex;
    width: 100px;
    margin-left: 40px;
    margin-top: 20px;
    word-spacing: 10px;
}

.exercise_sets_reps {
    display: flex;
    margin-top: 20px;
    margin-left: 480px;
    word-spacing: 75px;
    position: relative;
    top: -38px;
    font-weight: bold;
}

#separation_line {
    width: 570px;
    margin-top: -30px;
    margin-left: 40px;
    border-bottom: 1px solid #ddd;
}